section.blog-section
  .container
    .blog-title-holder
      .blog-title-box
        h2.title-2 Blog
    .row
      picture.blog-primary-img.col-xl-5
        source(srcet='./img/blog-img/blog-primary-img.webp 1x, ./img/blog-img/blog-primary-img-2x.webp 2x'
              type='image/webp')
        source(srcet='./img/blog-img/blog-primary-img.jpg 1x, ./img/blog-img/blog-primary-img-2x.jpg 2x'
              type='image/jpeg')
        img(src='./img/blog-img/blog-primary-img.jpg' alt='blog primary img' loading='lazy')
      .blog-content-holder.col-xl-7
        h3.blog-secondary-title
          | Why take part in the Olympics?
        p.blog-text
          | Why take part in the Olympics?
          | We increasingly hear that competitions are stressful 
          | for children and parents want to protect their children.
          br
          | We all realise that every child has their own way
          br
          | Give children the opportunity to take part in competitions. 
          | Micro-stress in learning is very good for your child's brain and stress tolerance.
        .blog-button-wrapper
          button.blog-button more
        .blog-secondary-img-wrapper
          picture
            source(srcet='./img/blog-img/blog-secondary-img_1.webp 1x, ./img/blog-img/blog-secondary-img_1-2x.webp 2x'
                type='image/webp')
            source(srcet='./img/blog-img/blog-secondary-img_1.jpg 1x, ./img/blog-img/blog-secondary-img_1-2x.jpg 2x'
                type='image/jpeg')
            img(src='./img/blog-img/blog-secondary-img_1.jpg' alt='blog secondary img' loading='lazy')
          picture
            source(srcet='./img/blog-img/blog-secondary-img_2.webp 1x, ./img/blog-img/blog-secondary-img_2-2x.webp 2x'
                type='image/webp')
            source(srcet='./img/blog-img/blog-secondary-img_2.jpg 1x, ./img/blog-img/blog-secondary-img_2-2x.jpg 2x'
                type='image/jpeg')
            img(src='./img/blog-img/blog-secondary-img_2.jpg' alt='blog secondary img' loading='lazy')
          picture
            source(srcet='./img/blog-img/blog-secondary-img_3.webp 1x, ./img/blog-imgblog-secondary-img_3-2x.webp 2x'
                type='image/webp')
            source(srcet='./img/blog-img/blog-secondary-img_3.jpg 1x, ./img/blog-img/blog-secondary-img_3-2x.jpg 2x'
                type='image/jpeg')
            img(src='./img/blog-img/blog-secondary-img_3.jpg' alt='blog secondary img' loading='lazy')
