section.blog-section.pb-50
  .container
    .blog-title-holder
      .blog-title-box
        h2.title-2 Blog
    .row
      .col-lg-5
        picture.blog-primary-img
          source(srcset='./img/blog-img/blog-primary-img.webp 1x, ./img/blog-img/blog-primary-img-2x.webp 2x'
                type='image/webp')
          source(srcset='./img/blog-img/blog-primary-img.jpg 1x, ./img/blog-img/blog-primary-img-2x.jpg 2x'
                type='image/jpeg')
          img(src='./img/blog-img/blog-primary-img.jpg' alt='blog primary img' loading='lazy')
      .col-lg-7
        .blog-content-holder
          h3.blog-secondary-title
            | Why take part in the Olympics?
          p.blog-text
            | Why take part in the Olympics?
            | We increasingly hear that competitions are stressful 
            | for children and parents want to protect their children.
            br
            | We all realise that every child has their own way
            br
            | Give children the opportunity to take part in competitions. 
            | Micro-stress in learning is very good for your child's brain and stress tolerance.
          .blog-button-wrapper
            button.blog-button more
          .blog-secondary-img-wrapper
            picture
              source(srcset='./img/blog-img/blog-secondary-img_1.webp 1x, ./img/blog-img/blog-secondary-img-2x_1.webp 2x'
                  type='image/webp')
              source(srcset='./img/blog-img/blog-secondary-img_1.jpg 1x, ./img/blog-img/blog-secondary-img-2x_1.jpg 2x'
                  type='image/jpeg')
              img(src='./img/blog-img/blog-secondary-img_1.jpg' alt='blog secondary img' loading='lazy')
            picture
              source(srcset='./img/blog-img/blog-secondary-img_2.webp 1x, ./img/blog-img/blog-secondary-img-2x_2.webp 2x'
                  type='image/webp')
              source(srcset='./img/blog-img/blog-secondary-img_2.jpg 1x, ./img/blog-img/blog-secondary-img-2x_2.jpg 2x'
                  type='image/jpeg')
              img(src='./img/blog-img/blog-secondary-img_2.jpg' alt='blog secondary img' loading='lazy')
            picture
              source(srcset='./img/blog-img/blog-secondary-img_3.webp 1x, ./img/blog-img/blog-secondary-img-2x_3.webp 2x'
                  type='image/webp')
              source(srcset='./img/blog-img/blog-secondary-img_3.jpg 1x, ./img/blog-img/blog-secondary-img-2x_3.jpg 2x'
                  type='image/jpeg')
              img(src='./img/blog-img/blog-secondary-img_3.jpg' alt='blog secondary img' loading='lazy')
